body {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'dancing';
    src: url('/fonts/DancingScript-Regular.ttf');
}

@font-face {
    font-family: 'poppins';
    src: url('/fonts/Poppins-Light.ttf');
}

* {
    font-family: poppins;
}

.container {
    width: 100%;
    background-color: rgb(237, 243, 255);
}

.welcome {
    width: 100%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/images/bg.jfif);
    background-size: contain;
    margin-bottom: 22px;
}

.welcome > h1 {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(1, 32, 29, 0.45);
    color: rgb(251, 230, 162);
    font-size: 55px;
    letter-spacing: 5px;
    font-family: dancing;
    display: flex;
    align-items: center;
    justify-content: center;
}



.chat-container {
    width: 65%;
    height: 70vh;
    border: 3px solid rgb(52, 88, 153);
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url(/images/chat-bg2.jpg);
    background-size: 50%;
}

.chat-box {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.62);
    overflow-y: scroll;
}

.bot-message {
    margin: 10px 15px;
    margin-right: auto;
    padding: 10px 20px;
    width: fit-content;
    max-width: 60%;
    background-color: rgba(96, 124, 176, 0.8);
    border-radius: 15px;
    color: white;
}

#loading {
    display: none;
}

.bot-message:first-child {
    margin-top: 30px;
}

.prompt-message {
    margin: 5px 15px;
    margin-left: auto;
    padding: 10px 20px;
    width: fit-content;
    max-width: 60%;
    background-color: rgb(241, 246, 255);
    border-radius: 15px;
    border: 1px solid rgb(52, 88, 153);
    color: rgb(52, 88, 153);
}

.prompt {
    width: 100%;
    height: 60px;
    background-color: rgba(87, 117, 174);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3px;
}

.prompt input {
    margin-left: 15px;
    background-color: inherit;
    border: none;
    border-bottom: 2px solid rgb(153, 173, 212);
    border-radius: 8px;
    outline: none;
    color: white !important;
    width: 85%;
    font-weight: bold;
}

.prompt > div {
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-color: rgb(246, 252, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}

.prompt > div:hover {
    background-color: rgb(227, 237, 242);
    cursor: pointer;
}

.prompt img {
    width: 20px;
}